/* Globals */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: black;
}

/* Headers */

h1,
h2 {
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

/* Paragraph */

p {
  font-size: 21px;
  color: gray;
}

/* Links */

a {
  font-size: 16px;
  text-decoration: underline;
  color: aquamarine;
}

/* Footer */

.copyright {
  text-align: right;
}
